  /* ----------------------------------------------------STYLE COMPETENCES ---------------------------------- */
  


  .developer_skills * {
    font-family: "Lato", sans-serif;
  }
  
  .developer_skills .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    line-height: 25px;
  }
  
  .developer_skills .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
  }
  
  .developer_skills .responsive-container-block.bg {
    max-width: 1500px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-right: 10px;
    padding-bottom: 80px;
    padding-left: 10px;
  }
  
  .developer_skills .responsive-container-block.line {
    min-height: 51px;
    width: 2px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    background-color: #c4c4c4;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  
  .developer_skills .text-blk.title {
    font-size: 25px;
    line-height: 34.1px;
    font-weight: 700;
    color: #0091ea;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
  }
  
  .developer_skills .text-blk.heading {
    max-width: 800px;
    font-size: 25px;
    line-height: 34.1px;
    color: #666666;
    font-weight: 400;
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
  }

  .clickable-cv {
    color: #0091ea; /* Blue color for the clickable word */
    text-decoration: none; /* Remove underline by default */
    font-weight: bold; /* Optional: makes the word bold */
    transition: text-decoration 0.3s ease-in-out; /* Smooth transition for underline */
  }

  .clickable-cv:hover {
    text-decoration: underline; /* Underline the word on hover */
  }
  
  .developer_skills .responsive-container-block.card-exp {
    width: 30%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    flex-direction: column;
    align-items: center;
    padding-top: 41px;
    padding-right: 10px;
    padding-bottom: 31px;
    padding-left: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-color: #999999;
    border-top-style: solid;
    border-top-width: 4px;
    border-right-color: #999999;
    border-right-style: solid;
    border-right-width: 4px;
    border-bottom-color: #999999;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-left-color: #999999;
    border-left-style: solid;
    border-left-width: 4px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    max-width: 350px;
  }
  
  .developer_skills .responsive-container-block.img1 {
    width: 58px;
    min-height: 58px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    background-image: url("img/developpement.png");
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
  }

  .developer_skills .responsive-container-block.img2 {
    width: 58px;
    min-height: 58px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    background-image: url("img/python.png");
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
  }

  .developer_skills .responsive-container-block.img3 {
    width: 58px;
    min-height: 58px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    background-image: url("img/base-de-donnees.png");
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
  }
  
  .developer_skills .text-blk.desc {
    font-size: 20px;
    line-height: 27.28px;
    color: #999999;
    font-weight: 700;
    text-align: center;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
  }
  
  .developer_skills .text-blk.info {
    font-size: 20px;
    line-height: 27.28px;
    color: #999999;
    text-align: center;
  }
  
  .developer_skills .responsive-container-block.content {
    justify-content: space-evenly;
    width: auto;
  }
  
  .developer_skills .responsive-container-block.card-exp:hover {
    border-top-color: #0091ea;
    border-top-style: solid;
    border-top-width: 4px;
    border-right-color: #0091ea;
    border-right-style: solid;
    border-right-width: 4px;
    border-bottom-color: #0091ea;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-left-color: #0091ea;
    border-left-style: solid;
    border-left-width: 4px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
  }
  
  @media (max-width: 768px) {
    .developer_skills .text-blk.heading {
      font-size: 32px;
      line-height: 44px;
    }
  
    .developer_skills .responsive-container-block.card-exp {
      width: 44%;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 30px;
      margin-left: 0px;
    }
  }
  
  @media (max-width: 500px) {
    .developer_skills .responsive-container-block.card-exp {
      width: 100%;
    }
  }
